{% extends  'edApp/base.html' %}

  {% block parentblock %}
  <head>
  <style>
  body {
    background-color: #F9F8F7;
  }
  </style>
  </head>
  <body>

    <h1> Institute Info:</h1>
    {% if instForm %}
    <table class="table table-hover">
      <tr>
                <th>Yourinstituename*</th><th>Targetline*</th><th>Institutelogo*</th><th>Phone*</th><th>Website*</th><th>Address*</th><th>Country*</th>
      </tr>
        {% for instForm in instForm %}
         <tr>

           <td>{{instForm.Yourinstituename*}}</td>
           <td>{{instForm.Targetline*}}</td>
           <td>{{instForm.Institutelogo*}}</td>
           <td>{{instForm.Phone*}}</td>
           <td>{{instForm.Website*}}</td>
           <td>{{instForm.Address*}}</td>
           <td>{{instForm.Country*}}</td>
         </tr>
        {%endfor%}
      </table>
    {%else%}
     <h2>No Data Founds</h2>
    {%endif%}


{%endblock%}
